<html>
<head>
<style>

    body{
        text-align: center;
        margin-top: 50px;
        font-size: 30;
        background-color: bisque;
    }

    h1{
     color: rgb(0, 52, 64);
    }

    input[type="submit"]
    {
        background-color: blanchedalmond;
        color: black;
        margin:3px;
    }

    h5{
        color: black;
        background-color: azure;
    }

</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " />
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p>

    <h5>Created By - Ritvik Buxi</h5>
</body>
</html>
